.queryContainer {
    container-type: inline-size;
}

.container {
    display: grid;
    gap: 1rem;
    grid-template-areas: "schema" "data" "result";
    margin-top: 1rem;

    @container (min-width: 350px) {
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "schema data" "result result";
    }

    @container (min-width: 600px) {
        grid-template-areas: "schema" "data" "result";
    }
}

.label {
    font-size: var(--sl-text-sm);
    margin-bottom: 0.25rem;
}

.result {
    grid-area: result;
}

.errors {
    list-style: none;
    padding: 0;
    margin: 0;
    color: var(--sl-color-red);
}
